.artwork-card {
  border: 1px solid #b69696;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  max-width: 300px;
  margin: 20px;
  text-align: center;
  background-color: #fff;
}

.artwork-card h2 {
  font-size: 1.5em;
  margin: 0 0 10px;
}

.artwork-card p {
  margin: 5px 0;
  color: #000000;
}

.artwork-card img {
  max-width: 100%;
  border-radius: 6px;
  margin-top: 10px;
}
/*Art Work Display horizontaly */
.artwork-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

/* hover Effect image */
.artwork-card:hover img {
  opacity: 0.7;
}
